<!DOCTYPE html>
<html ng-app="soundTeam">
<head>
  <title>SoundTeam</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="layout-container">
    
    <div class="row">
      <%= render partial: 'layouts/default/header' %>        
    </div>  
    <div id="main" class="row">
      <%= render partial: 'layouts/default/sidebar' %>
          
      <div class="col-md-8 main-content">
        <%= yield %>
      </div>
    </div>
</body>
</html>
