<!DOCTYPE html>
<html ng-app="soundTeam">
<head>
  <title>SoundTeam</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="layout-container">
        <%= render partial: 'layouts/default/sidebar' %>
        <div id="main">
            <%= render partial: 'layouts/default/header' %>
            <div cslass="margin-container">
                <div class="scrollable wrapper">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
