<div id="nav"> 
  <ul class="navigation">
    <li>
      <a class="<%= menu_item_is_activated?(dashboard_path) %>" href="<%= dashboard_path %>">
        <i class="fa fa-home"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <% @sidebar.each do |item| %>
      <li>
        <%= link_to(item.path) do %>      
          <i class="fa fa-<%= item.icon %> nav-icon"></i>        
          <span><%= item.name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>